<template>
  <div id="app">
    <div class="header">
      <h2 class="logo">Square</h2>
    </div>
    <Login />
  </div>
</template>

<script>
import Vue from 'vue'
export default Vue.extend({})
</script>

<style lang="scss">
#app {
  text-align: center;
  color: #2c3e50;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  background-size: contain;
}
.header {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h2 {
    color: #44444f;
    padding: 0;
    margin: 0;
  }
}
</style>
