<template>
  <div class="login">
    <div class="page__wrapper">
      <div class="entry">
        <div class="entry__wrap">
          <div class="entry__title">Sign In</div>
          <div class="entry__info">
            Just sign in if you have an account in here. Enjoy our Website
          </div>
          <div class="entry__form">
            <div class="entry__group">
              <div class="field1 js-field">
                <div class="field1__label">Your Email / Username</div>
                <div class="field1__wrap">
                  <input
                    v-model="model.username"
                    class="field1__input js-field-input"
                    type="email"
                    name="email"
                  />
                  <div v-if="model.username.length > 0">
                    <div v-if="model.username.length < 6" class="error-msg">
                      Username must contain atleast 6 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="field1 field1_icon js-field">
                <div class="field1__label">Enter Password</div>
                <div class="field1__wrap">
                  <input
                    v-model="model.password"
                    class="field1__input js-field-input"
                    type="password"
                    name="password"
                  />
                </div>
                <div v-if="model.password.length > 0">
                  <div v-if="model.password.length < 8" class="error-msg">
                    Password must contain atleast 8 characters
                  </div>
                </div>
              </div>
            </div>
            <div class="entry__line">
              <label class="checkbox"
                ><input
                  class="checkbox__input"
                  type="checkbox"
                  name="terms"
                  checked=""
                /><span class="checkbox__in"
                  ><span class="checkbox__tick"></span
                  ><span class="checkbox__text">Remember Me</span></span
                ></label
              ><a class="entry__link" @click="redirectForgot()"
                >Forgot Password</a
              >
            </div>
            <button
              class="entry__btn btn btn btn_big btn_wide btn_blue"
              :class="{ loading: loading }"
              @click="login()"
            >
              Login
            </button>
            <div v-if="model.error" class="error-msg1">
              {{ model.error }}
            </div>
          </div>
          <div class="entry__bottom">
            <a class="entry__link" @click="redirectRegister()"
              >Don't have an Square account? Register now!</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      validCredentials: {
        username: 'admin',
        password: 'squareadmin',
      },
      model: {
        username: '',
        password: '',
        error: '',
      },
      loading: false,
    }
  },
  mounted() {
    this.loadAnimation() // Calls the method before page loads
  },
  methods: {
    loadAnimation() {
      // eslint-disable-next-line no-undef
      $('.js-field-input').focusin(function () {
        // eslint-disable-next-line no-undef
        $(this).parents('.js-field').addClass('active')
      })
      // eslint-disable-next-line no-undef
      $('.js-field-input').focusout(function () {
        const _this = $(this)
        const field = _this.parents('.js-field')
        const value = _this.val()
        if (value === '') {
          field.removeClass('active')
        }
      })
    },
    simulateLogin() {
      return new Promise((resolve) => {
        setTimeout(resolve, 800)
      })
    },
    async login() {
      if (!this.loading) {
        this.loading = true
        await this.simulateLogin()
        this.$axios
          .get('https://petstore.swagger.io/api/admin/v1/auth', {
            username: this.model.username,
            password: this.model.password,
            employee_number: 0,
            device_id: 'string',
            notification_token: 'string',
          })
          .then((res) => {
            this.loading = false
            if (localStorage) {
              if (res.status === 200) {
                localStorage.setItem('auth_token', res.data.auth_token)
                localStorage.setItem('expiry', res.data.valid_till)
                localStorage.setItem(
                  'ref_token',
                  res.data.refresh_token.token_string
                )
                localStorage.setItem(
                  'ref_expiry',
                  res.data.refresh_token.valid_till
                )
                this.$router.push('/dashboard')
              } else {
                this.model.error = res.data.title
              }
            } else {
              this.model.error =
                'Please disable cookie blocking in your browser setting & try again'
            }
          })
          .catch((err) => {
            this.loading = false
            this.model.error = err
          })
      }
    },
    redirectRegister() {
      this.$router.push('/register')
    },
    redirectForgot() {
      this.$router.push('/forgot-password')
    },
  },
}
</script>

<!-- "scoped" attribute to limit CSS to this component only -->
<style scoped>
.login {
  background: #fafafb;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  background: #fafafa;
  cursor: not-allowed;
}

.login-button {
  width: 100%;
  margin-top: 40px;
}
.login-form {
  width: 290px;
}
.forgot-password {
  margin-top: 10px;
}

.error-msg {
  text-align: left;
  margin-top: 4px;
  font-size: 12px;
  color: #ff7676;
}
.error-msg1 {
  margin-top: 10px;
  font-size: 14px;
  color: #ff7676;
}
</style>
