<template>
  <div class="container">
    <p class="welcome">Welcome To</p>
    <h1 class="title">Square</h1>
    <div class="links">
      <a class="button--grey" @click="loginRedirect()">Login</a>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    loginRedirect() {
      this.$router.push('/login')
    },
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

/* can't change line height since reflection is used, need to add negative margin to reduce space */
.title {
  margin-top: -35px;
  font-family: 'Poppins', sans-serif;
  display: block;
  font-weight: 300;
  font-size: 10em;
  color: #35495e;
  letter-spacing: 1px;
  -webkit-box-reflect: below -3vw -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      color-stop(0.45, transparent),
      to(rgba(255, 255, 255, 0.25))
    );
}

.welcome {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  color: #526488;
}

.links {
  padding-top: 85px;
}

@media only screen and (max-width: 600px) {
  .title {
    margin-top: -15px;
    font-size: 5em;
  }
}
</style>
