<template>
  <div class="forgot">
    <div class="page__wrapper">
      <div class="entry">
        <div class="entry__wrap">
          <div class="entry__title">Create New Password</div>
          <div class="entry__info">
            Your new password must be different from previous used passwords
          </div>
          <div class="entry__form">
            <div class="entry__group">
              <div class="field1 js-field">
                <div class="field1__label">Password</div>
                <div class="field1__wrap">
                  <input
                    v-model="model.password"
                    class="field1__input js-field-input"
                    type="password"
                    name="password"
                  />
                  <div v-if="model.password.length > 0">
                    <div v-if="model.password.length < 8" class="error-msg">
                      Password must contain atleast 8 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="field1 js-field">
                <div class="field1__label">Confirm Password</div>
                <div class="field1__wrap">
                  <input
                    v-model="model.passwordConfirm"
                    class="field1__input js-field-input"
                    type="password"
                    name="passwordc"
                  />
                </div>
                <div
                  v-if="model.password !== model.passwordConfirm"
                  class="error-msg"
                >
                  Both passwords must match
                </div>
              </div>
            </div>
            <button class="entry__btn btn btn btn_big btn_wide btn_blue">
              Reset Password
            </button>
            <div v-if="model.error" class="error-msg1">
              {{ model.error }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Forgot',
  data() {
    return {
      model: {
        password: '',
        passwordConfirm: '',
      },
    }
  },
  mounted() {
    this.loadAnimation() // Calls the method before page loads
  },
  methods: {
    loadAnimation() {
      // eslint-disable-next-line no-undef
      $('.js-field-input').focusin(function () {
        // eslint-disable-next-line no-undef
        $(this).parents('.js-field').addClass('active')
      })
      // eslint-disable-next-line no-undef
      $('.js-field-input').focusout(function () {
        const _this = $(this)
        const field = _this.parents('.js-field')
        const value = _this.val()
        if (value === '') {
          field.removeClass('active')
        }
      })
    },
  },
}
</script>

<!-- "scoped" attribute to limit CSS to this component only -->
<style scoped>
.forgot {
  min-height: 100vh;
  background: #fafafb;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  background: #fafafa;
  cursor: not-allowed;
}

.login-button {
  width: 100%;
  margin-top: 40px;
}

.login-form {
  width: 290px;
}

.forgot-password {
  margin-top: 10px;
}

.error-msg {
  text-align: left;
  margin-top: 4px;
  font-size: 12px;
  color: #ff7676;
}

.error-msg1 {
  margin-top: 10px;
  font-size: 14px;
  color: #ff7676;
}
</style>
